@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    font-family: Helvetica,Arial,sans-serif;
    
    
}


.search{
    width: 602px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 0px;
    padding: 0px 12px;
    font-size: 13px;
    border-radius: 2px 0px 0px 2px;
    box-sizing: border-box;
    
}
.hvtimkiem:hover{
    color: white;
}
.btnSearch{
    border: 0px;
    width: 120px;
    padding-right: 6;
    padding-left: 6;
    background: rgb(13, 92, 182);
    color: white;
    border-radius: 0px 2px 2px 0px;
    width: 120px;
    height: 40px;
    border: 0px;
    font-size: 13px;
    font-weight: 500;
    outline: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: normal;
    font-family: inherit;
    font-size: 95%;
    line-height: 1.15;
    margin: 0px;
}
.bgHeader{
    background-color: rgb(26, 148, 255);
    
}

.bd2{
    border: 1px solid #efefef;
    background-color: white;
   
}
.bd3{
    border: 1px solid #efefef;
    background-color: white;
    
}
.bd1{
    border: 1px solid #efefef;
    width: 83%;
    margin: 0 auto;
    background-color: white;
    
    
}

.container{
    width: 83%;
    margin: 0 auto;
    
}
.sizetext{
    font-size: 13px;
    line-height: 30px;
    
}
.sizeH{
    font-weight: bolder;
    font-size: 13px;
    border-top: 2px solid rgb(247, 247, 247);
    padding-top: 15px;
    padding-bottom: 5px;
}
.sizeH1{
    padding: 11px 0px 11px 15px;
    font-size: 22px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}
.diachi{
    text-decoration: underline;
    font-weight: bolder
}
 .filter-items {
    border-top: 2px solid rgb(247, 247, 247);
    padding-left: 16px;
    display: flex;
    padding-bottom: 25px;
    padding-top: 20px;
}
 .filter-items .item.sticky {
    background: rgb(238, 238, 238);
    cursor: pointer;
}
 .filter-items .item {
    background: rgba(27, 168, 255, 0.1);
    font-size: 13px;
    padding: 2px 12px;
    line-height: 20px;
    position: relative;
    border-radius: 100px;
    display: flex;
    margin-right: 10px;
    height: 24px;
    -webkit-box-align: center;
    align-items: center;
}




.filter-items1 {
   
    padding-left: 16px;
    display: flex;
    padding-bottom: 3px;
    padding-top: 3px;
}
 .filter-items1 .item.sticky {
    background: rgb(238, 238, 238);
    cursor: pointer;
}
 .filter-items1 .item {
    background: rgba(27, 168, 255, 0.1);
    font-size: 13px;
    padding: 2px 12px;
    line-height: 20px;
    position: relative;
    border-radius: 100px;
    display: flex;
    margin-right: 10px;
    height: 24px;
    -webkit-box-align: center;
    align-items: center;
}
.timgia{
    border: 1px solid rgb(159, 156, 156);
    padding-left: 8px;
    width: 110px;
    border-radius: 5px;
    
}
.apdung{
    border: 1px solid rgb(13, 92, 182); 
    padding: 0px 23px;
    border-radius: 4px;
    color: rgb(13, 92, 182);
    font-size: 12px;
    
}

.qcsp1{
    margin-left: -12px;
}

.soluongtrang{
    width: 110%;
    height: 60px;
    border: 0px;
    background-color: #efefef;
}

.canLe{
    background-color: #efefef;
}

.icon-arrow-back {
    background-image: url(../img/sprite.png?v=100000000);
    background-position: -392px -189px;
    width: 8px;
    height: 14px;
}

.hoversltrang{
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
  padding-right: 10px;
  padding-left: 10px;
}

.hoversltrang:hover{
    
    color: white;
    border: 0px;
    background-color: rgb(11, 116, 229);;
    border-radius: 50%;
    
}
.hoversltrang-section{
    color: white;
    border: 0px;
    background-color: rgb(11, 116, 229);;
    border-radius: 50%;;
}

.hoversltrang-section{
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
  padding-right: 10px;
  padding-left: 10px;
  
}
.hoversltrang-section:hover{
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
  padding-right: 10px;
  padding-left: 10px;
  color: white;
  
}

.sanphamduocxem{
    text-align: center;
    margin-top: 100px;
    padding-bottom: 150px;
}

.khoangtrang{
    width: 110%;
    height: 20px;
    border: 0px;
    background-color: #efefef;
}

.duongdan{
    width: 83%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.duongdantext{
    color: rgb(120, 120, 120);
    font-size: 15px;
    
}

.logo{
    margin-top: -20px;
    margin-left: -30px;
}

.logos{
    width: 25%;
    
}

.logoshoping{
    width: 100%;
    height: 44px;
    margin-left: 4px;
    
}

.dndk{
    font-size: 13px;
    width: 180px;
    margin-top: -44px;
    margin-left: 15px;
}

.dndk1{
    font-size: 13px;
    width: 220px;
    margin-left: -25px;

    
}

.logouser{
    width: 20%;
    height: 44px;
}

.anhsach{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    height: 250px;
}
.tieudesach{
    padding-left: 10px;
    padding-right: 24px;
    padding-top: 4px;
}
.giasach{
    color: red;
    font-size: 16px;
    padding-left: 10px;
    font-weight: bolder;
    padding-bottom: 20px;
}
.sachdaban{
    margin-top: -7px;
    color: rgb(120, 120, 120);
}
.giasalesach{
    border: 1px solid rgb(255, 66, 78);
    width: 35px;
    height: 20px;
    border-radius: 4px;
    text-align: center;
    font-size: 11px;
    margin-top: -25px;
    background-color: rgb(255, 240, 241);
    padding: 0px 2px;
    color: rgb(255, 66, 78);
    float: right;
    margin-right: 85px;
    margin-top: -46px;
}
.chusale{
    margin-top: -5px;
}
.logosale{
    margin-top: -22px;
    padding-left: 10px;
}

.logosale1{
    margin-top: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.anhsachchitiet{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}

.motasachngan{
    padding-top: 20px;
    font-size: 13px;
    line-height: 20px;
    padding-left: 10px;
   
}
.tieudesachchitiet{
    font-size: 13px;
    line-height: 20px;
    margin: 0px 0px 4px;
    color: rgb(36, 36, 36);
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    word-break: break-word;
    padding-left: 10px;
    
}

.chitietsanpham{
    line-height: 35px;
    
}



.banggiatien{
    border: 0px;
    width: 500px;
    height: 140px;
    border-radius: 4px;
    background-color: rgb(250, 250, 250);
    padding-top: 10px;
    padding-left: 10px;
    
}

.giasachchitiet{
    color: rgb(255, 66, 78);
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
}

.giasalechitiet{
    text-decoration: line-through;
    font-size: 14px;
    margin-top: 8px;
}

.phantramsalechitiet{
    border: 1px solid rgb(255, 66, 78);
    width: 40px;
    height: 30px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    background-color: rgb(255, 240, 241);
    color: rgb(255, 66, 78);
    float: right;
    margin-top: 8px;
    
}

.khoangcach{
    border-bottom: 2px solid rgb(236, 235, 235);
}

.chiale{
    border-left: 2px solid rgb(236, 235, 235);
}
.tieudesach{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thuongchitiet{
    width: 320px;
    height: 30px;
    text-align: center;
    border: 0.5px solid rgb(198, 188, 248);
    background-color: rgb(242, 240, 254);
    border-radius: 4px;
    cursor: pointer;
    
}
.thuongchitiettext{
    padding-top: 5px;
    font-size: 15px;
    line-height: 20px;
    color: rgb(64, 45, 161);
    font-weight: bolder;

}

.salegiamgia{
    padding-left: 10px;
}

.giamgia{
    font-size: 15px;
    font-weight: bolder;
    color: rgb(36, 36, 36);
    cursor: pointer;
}

.phieugiamgia{
    cursor: pointer;
    padding: 3px 12px;
    border: 1px solid rgb(13, 92, 182);
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    color: rgb(13, 92, 182);
    margin: 0px 12px 0px 0px;
}

.nextphieugiamgia{
    color: rgb(13, 92, 182);
    font-size: 23px;
    font-weight: bolder;
    cursor: pointer;
}

.gachchan{
    text-decoration: underline;
    font-weight: bolder;
}
.diachichitiet{
    padding-left: 10px;
}

.doidiachichitiet{
    color: rgb(11, 116, 229);
    font-size: 16px;
    font-weight: bolder;
}



.anhsach1{
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    height: 170px;
    width: 100%;
}
.tieudesach1{
    padding-left: 10px;
    padding-right: 24px;
    padding-top: 4px;
    font-size: 13px;
}
.giasach1{
    color: red;
    font-size: 16px;
    padding-left: 10px;
    font-weight: bolder;
    padding-bottom: 20px;
}
.sachdaban1{
    margin-top: -2px;
    color: rgb(120, 120, 120);
    font-size: 12px;
}
.giasalesach1{
    border: 1px solid rgb(255, 66, 78);
    width: 35px;
    height: 16px;
    border-radius: 2px;
    text-align: center;
    font-size: 11px;
    margin-top: -25px;
    background-color: rgb(255, 240, 241);
    padding: 0px 2px;
    color: rgb(255, 66, 78);
    float: right;
    margin-right: 80px;
    margin-top: -41px;
}
.chusale1{
    margin-top: 0px;
}

.sizeH2{
    padding: 11px 0px 11px 15px;
    font-size: 20px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}

.bdsp{
    border: 0px;
    background-color: rgb(255, 255, 255);
    width: 880px;
}

.bd1sp{
    
    width: 100%;
    background-color: #efefef;
}

.motasp{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    font-size: 14px;
}
.logosale2{
    margin-top: -20px;
    padding-left: 10px;
    cursor: pointer;
}

.bdft1{
    border: 0px;
    width: 100%;
    margin: 0 auto;
    background-color: white;

}

.bdft2{
    border: 0px;
    background-color: white;
    width: 83%;
    margin: 0 auto;
    border-bottom: 2px solid #eae4e4;
    
}

.bdft3{
    border: 0px;
    background-color: white;
    width: 83%;
    margin: 0 auto;

    
}

.textft{
    color: rgb(128, 128, 137);
    font-size: 12px;
    line-height: 25px;
}
.textft:hover{
    text-decoration: underline;
    cursor: pointer;
}

.textslsp{
    font-size: 15px;
    padding-left: 10px;
}

.soluongsp{
    border: 1px solid #eae4e4;
    width: 50px;
    height: 30px;
    text-align: center;
}

.btnsl{
    border: 1px solid #eae4e4;
    width: 50px;
    height: 30px;
    text-align: center;
    font-weight: bolder;
}
.btnsl1{
    border: 1px solid #eae4e4;
    width: 350px;
    height: 53px;
    text-align: center;
    background-color: rgb(255, 57, 69);
    color: white;
    border-radius: 5px;
}
.canlebtn{
    padding-left: 10px;
    padding-bottom: 20px;
}

.btnsl1:hover{
    opacity: 90%;
}

.btnsl:hover{
    background-color: rgb(238, 238, 238);
}


.bangquantri{
background-color:#ffffff;
}

.canlead1{
    border: 1px solid rgb(163, 161, 161);
    text-align: center;
    padding: 15px;
}

.canlead2{
    border: 1px solid rgb(163, 161, 161);
    padding: 15px;
}
.sttad{
    text-align: center;
}

.namead{
    width: 500px;
    padding-left: 20px;
    padding-right: 20px;
}

.tieudead{
    font-size: 21px;
    color: rgb(106, 106, 106);
    font-weight: bolder;
}

.anhad{
    height: 220px;
}

.dmsp{
 
    list-style: none;
}